In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
datos=pd.read_csv('fifa21_raw_data.csv')

In [3]:
datos.head(6)

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33.0,93.0,93.0,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,Medium,Low,5 ★,85.0,92.0,91.0,95.0,38.0,65.0,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35.0,92.0,92.0,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,High,Low,5 ★,89.0,93.0,81.0,89.0,35.0,77.0,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27.0,91.0,93.0,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,Medium,Medium,3 ★,87.0,92.0,78.0,90.0,52.0,90.0,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29.0,91.0,91.0,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,High,High,4 ★,76.0,86.0,93.0,88.0,64.0,78.0,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28.0,91.0,91.0,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,High,Medium,5 ★,91.0,85.0,86.0,94.0,36.0,59.0,\n273
5,https://cdn.sofifa.com/players/188/545/21_60.png,Robert Lewandowski,http://sofifa.com/player/188545/robert-lewando...,Poland,ST,R. Lewandowski,31.0,91.0,91.0,\n\n\n\nFC Bayern München\n2014 ~ 2023\n\n,...,High,Medium,4 ★,78.0,91.0,78.0,85.0,43.0,82.0,\n182

In [4]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4561 entries, 0 to 4560
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          4561 non-null   object
 1   LongName          4561 non-null   object
 2   playerUrl         4560 non-null   object
 3   Nationality       4560 non-null   object
 4   Positions         4560 non-null   object
 5   Name              4560 non-null   object
 6   Age               4560 non-null   float64
 7   ↓OVA              4560 non-null   float64
 8   POT               4560 non-null   float64
 9   Team & Contract   4560 non-null   object
 10  ID                4560 non-null   float64
 11  Height            4560 non-null   object
 12  Weight            4560 non-null   object
 13  foot              4560 non-null   object
 14  BOV               4560 non-null   float64
 15  BP                4560 non-null   object
 16  Growth            4560 non-null   float64
 17  Joined            4560 non-null   object
 18  Loan Date End     263 non-null    object
 19  Value             4560 non-null   object
 20  Wage              4560 non-null   object
 21  Release Clause    4560 non-null   object
 22  Attacking         4560 non-null   float64
 23  Crossing          4560 non-null   float64
 24  Finishing         4560 non-null   float64
 25  Heading Accuracy  4560 non-null   float64
 26  Short Passing     4560 non-null   float64
 27  Volleys           4560 non-null   float64
 28  Skill             4560 non-null   float64
 29  Dribbling         4560 non-null   float64
 30  Curve             4560 non-null   float64
 31  FK Accuracy       4560 non-null   float64
 32  Long Passing      4560 non-null   float64
 33  Ball Control      4560 non-null   float64
 34  Movement          4560 non-null   float64
 35  Acceleration      4560 non-null   float64
 36  Sprint Speed      4560 non-null   float64
 37  Agility           4560 non-null   float64
 38  Reactions         4560 non-null   float64
 39  Balance           4560 non-null   float64
 40  Power             4560 non-null   float64
 41  Shot Power        4560 non-null   float64
 42  Jumping           4560 non-null   float64
 43  Stamina           4560 non-null   float64
 44  Strength          4560 non-null   float64
 45  Long Shots        4560 non-null   float64
 46  Mentality         4560 non-null   float64
 47  Aggression        4560 non-null   float64
 48  Interceptions     4560 non-null   float64
 49  Positioning       4560 non-null   float64
 50  Vision            4560 non-null   float64
 51  Penalties         4560 non-null   float64
 52  Composure         4560 non-null   float64
 53  Defending         4560 non-null   float64
 54  Marking           4560 non-null   float64
 55  Standing Tackle   4560 non-null   float64
 56  Sliding Tackle    4560 non-null   float64
 57  Goalkeeping       4560 non-null   float64
 58  GK Diving         4560 non-null   float64
 59  GK Handling       4560 non-null   float64
 60  GK Kicking        4560 non-null   float64
 61  GK Positioning    4560 non-null   float64
 62  GK Reflexes       4560 non-null   float64
 63  Total Stats       4560 non-null   float64
 64  Base Stats        4560 non-null   float64
 65  W/F               4560 non-null   object
 66  SM                4560 non-null   object
 67  A/W               4560 non-null   object
 68  D/W               4560 non-null   object
 69  IR                4560 non-null   object
 70  PAC               4560 non-null   float64
 71  SHO               4560 non-null   float64
 72  PAS               4560 non-null   float64
 73  DRI               4560 non-null   float64
 74  DEF               4560 non-null   float64
 75  PHY               4560 non-null   float64
 76  Hits              4560 non-null   object
dtypes: float64(55), object(22)
memory usage: 2.7+ MB

**Convertir y cambiar el tipo de datos de Weight y Height**

In [5]:
datos['Weight']

0       159lbs
1       183lbs
2       192lbs
3       154lbs
4       150lbs
         ...
4556    179lbs
4557    179lbs
4558    161lbs
4559    198lbs
4560       NaN
Name: Weight, Length: 4561, dtype: object

In [6]:
datos['Weight']=datos.Weight.str.extract('(\d+)')
datos['Height']

0        5'7"
1        6'2"
2        6'2"
3       5'11"
4        5'9"
        ...
4556    5'10"
4557     6'2"
4558     6'0"
4559     6'4"
4560      NaN
Name: Height, Length: 4561, dtype: object

In [7]:
datos['Height']

0        5'7"
1        6'2"
2        6'2"
3       5'11"
4        5'9"
        ...
4556    5'10"
4557     6'2"
4558     6'0"
4559     6'4"
4560      NaN
Name: Height, Length: 4561, dtype: object

In [8]:
datos['Height cm']= (datos['Height'].str.extract(r'(\d+)\'\s*(\d+)"')
 .astype(float)
 .mul([12*2.54, 2.54])
 .sum(axis=1)
 )

In [9]:
datos['Height cm']

0       170.18
1       187.96
2       187.96
3       180.34
4       175.26
         ...
4556    177.80
4557    187.96
4558    182.88
4559    193.04
4560      0.00
Name: Height cm, Length: 4561, dtype: float64

Eliminar la columna Height que esta en pulgadas

In [10]:
datos=datos.drop(columns=['Height'])

In [11]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4561 entries, 0 to 4560
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          4561 non-null   object
 1   LongName          4561 non-null   object
 2   playerUrl         4560 non-null   object
 3   Nationality       4560 non-null   object
 4   Positions         4560 non-null   object
 5   Name              4560 non-null   object
 6   Age               4560 non-null   float64
 7   ↓OVA              4560 non-null   float64
 8   POT               4560 non-null   float64
 9   Team & Contract   4560 non-null   object
 10  ID                4560 non-null   float64
 11  Weight            4560 non-null   object
 12  foot              4560 non-null   object
 13  BOV               4560 non-null   float64
 14  BP                4560 non-null   object
 15  Growth            4560 non-null   float64
 16  Joined            4560 non-null   object
 17  Loan Date End     263 non-null    object
 18  Value             4560 non-null   object
 19  Wage              4560 non-null   object
 20  Release Clause    4560 non-null   object
 21  Attacking         4560 non-null   float64
 22  Crossing          4560 non-null   float64
 23  Finishing         4560 non-null   float64
 24  Heading Accuracy  4560 non-null   float64
 25  Short Passing     4560 non-null   float64
 26  Volleys           4560 non-null   float64
 27  Skill             4560 non-null   float64
 28  Dribbling         4560 non-null   float64
 29  Curve             4560 non-null   float64
 30  FK Accuracy       4560 non-null   float64
 31  Long Passing      4560 non-null   float64
 32  Ball Control      4560 non-null   float64
 33  Movement          4560 non-null   float64
 34  Acceleration      4560 non-null   float64
 35  Sprint Speed      4560 non-null   float64
 36  Agility           4560 non-null   float64
 37  Reactions         4560 non-null   float64
 38  Balance           4560 non-null   float64
 39  Power             4560 non-null   float64
 40  Shot Power        4560 non-null   float64
 41  Jumping           4560 non-null   float64
 42  Stamina           4560 non-null   float64
 43  Strength          4560 non-null   float64
 44  Long Shots        4560 non-null   float64
 45  Mentality         4560 non-null   float64
 46  Aggression        4560 non-null   float64
 47  Interceptions     4560 non-null   float64
 48  Positioning       4560 non-null   float64
 49  Vision            4560 non-null   float64
 50  Penalties         4560 non-null   float64
 51  Composure         4560 non-null   float64
 52  Defending         4560 non-null   float64
 53  Marking           4560 non-null   float64
 54  Standing Tackle   4560 non-null   float64
 55  Sliding Tackle    4560 non-null   float64
 56  Goalkeeping       4560 non-null   float64
 57  GK Diving         4560 non-null   float64
 58  GK Handling       4560 non-null   float64
 59  GK Kicking        4560 non-null   float64
 60  GK Positioning    4560 non-null   float64
 61  GK Reflexes       4560 non-null   float64
 62  Total Stats       4560 non-null   float64
 63  Base Stats        4560 non-null   float64
 64  W/F               4560 non-null   object
 65  SM                4560 non-null   object
 66  A/W               4560 non-null   object
 67  D/W               4560 non-null   object
 68  IR                4560 non-null   object
 69  PAC               4560 non-null   float64
 70  SHO               4560 non-null   float64
 71  PAS               4560 non-null   float64
 72  DRI               4560 non-null   float64
 73  DEF               4560 non-null   float64
 74  PHY               4560 non-null   float64
 75  Hits              4560 non-null   object
 76  Height cm         4561 non-null   float64
dtypes: float64(56), object(21)
memory usage: 2.7+ MB

In [12]:
datos['Weight'].astype(int)

ValueError: ignored

In [13]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4561 entries, 0 to 4560
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          4561 non-null   object
 1   LongName          4561 non-null   object
 2   playerUrl         4560 non-null   object
 3   Nationality       4560 non-null   object
 4   Positions         4560 non-null   object
 5   Name              4560 non-null   object
 6   Age               4560 non-null   float64
 7   ↓OVA              4560 non-null   float64
 8   POT               4560 non-null   float64
 9   Team & Contract   4560 non-null   object
 10  ID                4560 non-null   float64
 11  Weight            4560 non-null   object
 12  foot              4560 non-null   object
 13  BOV               4560 non-null   float64
 14  BP                4560 non-null   object
 15  Growth            4560 non-null   float64
 16  Joined            4560 non-null   object
 17  Loan Date End     263 non-null    object
 18  Value             4560 non-null   object
 19  Wage              4560 non-null   object
 20  Release Clause    4560 non-null   object
 21  Attacking         4560 non-null   float64
 22  Crossing          4560 non-null   float64
 23  Finishing         4560 non-null   float64
 24  Heading Accuracy  4560 non-null   float64
 25  Short Passing     4560 non-null   float64
 26  Volleys           4560 non-null   float64
 27  Skill             4560 non-null   float64
 28  Dribbling         4560 non-null   float64
 29  Curve             4560 non-null   float64
 30  FK Accuracy       4560 non-null   float64
 31  Long Passing      4560 non-null   float64
 32  Ball Control      4560 non-null   float64
 33  Movement          4560 non-null   float64
 34  Acceleration      4560 non-null   float64
 35  Sprint Speed      4560 non-null   float64
 36  Agility           4560 non-null   float64
 37  Reactions         4560 non-null   float64
 38  Balance           4560 non-null   float64
 39  Power             4560 non-null   float64
 40  Shot Power        4560 non-null   float64
 41  Jumping           4560 non-null   float64
 42  Stamina           4560 non-null   float64
 43  Strength          4560 non-null   float64
 44  Long Shots        4560 non-null   float64
 45  Mentality         4560 non-null   float64
 46  Aggression        4560 non-null   float64
 47  Interceptions     4560 non-null   float64
 48  Positioning       4560 non-null   float64
 49  Vision            4560 non-null   float64
 50  Penalties         4560 non-null   float64
 51  Composure         4560 non-null   float64
 52  Defending         4560 non-null   float64
 53  Marking           4560 non-null   float64
 54  Standing Tackle   4560 non-null   float64
 55  Sliding Tackle    4560 non-null   float64
 56  Goalkeeping       4560 non-null   float64
 57  GK Diving         4560 non-null   float64
 58  GK Handling       4560 non-null   float64
 59  GK Kicking        4560 non-null   float64
 60  GK Positioning    4560 non-null   float64
 61  GK Reflexes       4560 non-null   float64
 62  Total Stats       4560 non-null   float64
 63  Base Stats        4560 non-null   float64
 64  W/F               4560 non-null   object
 65  SM                4560 non-null   object
 66  A/W               4560 non-null   object
 67  D/W               4560 non-null   object
 68  IR                4560 non-null   object
 69  PAC               4560 non-null   float64
 70  SHO               4560 non-null   float64
 71  PAS               4560 non-null   float64
 72  DRI               4560 non-null   float64
 73  DEF               4560 non-null   float64
 74  PHY               4560 non-null   float64
 75  Hits              4560 non-null   object
 76  Height cm         4561 non-null   float64
dtypes: float64(56), object(21)
memory usage: 2.7+ MB

In [18]:
datos['Weight']

0       159
1       183
2       192
3       154
4       150
       ...
4556    179
4557    179
4558    161
4559    198
4560    NaN
Name: Weight, Length: 4561, dtype: object

In [20]:
datos['Weight']=datos['Weight'].astype(str)

In [23]:
datos['Weight']

0       159
1       183
2       192
3       154
4       150
       ...
4556    179
4557    179
4558    161
4559    198
4560    nan
Name: Weight, Length: 4561, dtype: object

In [24]:
datos['Weight']=datos.Weight.replace({"nan":0})

In [25]:
datos['Weight']

0       159
1       183
2       192
3       154
4       150
       ...
4556    179
4557    179
4558    161
4559    198
4560      0
Name: Weight, Length: 4561, dtype: object

In [26]:
datos['Weight']=pd.to_numeric(datos['Weight'])

In [27]:
datos['Weight']

0       159
1       183
2       192
3       154
4       150
       ...
4556    179
4557    179
4558    161
4559    198
4560      0
Name: Weight, Length: 4561, dtype: int64

In [28]:
datos['Height cm']

0       170.18
1       187.96
2       187.96
3       180.34
4       175.26
         ...
4556    177.80
4557    187.96
4558    182.88
4559    193.04
4560      0.00
Name: Height cm, Length: 4561, dtype: float64

**Separar la columna Joined en año, mes y día**

In [30]:
datos['Joined']

0        Jul 1, 2004
1       Jul 10, 2018
2       Jul 16, 2014
3       Aug 30, 2015
4        Aug 3, 2017
            ...
4556    Jul 31, 2017
4557     Aug 7, 2019
4558     Jul 1, 2016
4559    Jan 17, 2019
4560             NaN
Name: Joined, Length: 4561, dtype: object

In [31]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4561 entries, 0 to 4560
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          4561 non-null   object
 1   LongName          4561 non-null   object
 2   playerUrl         4560 non-null   object
 3   Nationality       4560 non-null   object
 4   Positions         4560 non-null   object
 5   Name              4560 non-null   object
 6   Age               4560 non-null   float64
 7   ↓OVA              4560 non-null   float64
 8   POT               4560 non-null   float64
 9   Team & Contract   4560 non-null   object
 10  ID                4560 non-null   float64
 11  Weight            4561 non-null   int64
 12  foot              4560 non-null   object
 13  BOV               4560 non-null   float64
 14  BP                4560 non-null   object
 15  Growth            4560 non-null   float64
 16  Joined            4560 non-null   object
 17  Loan Date End     263 non-null    object
 18  Value             4560 non-null   object
 19  Wage              4560 non-null   object
 20  Release Clause    4560 non-null   object
 21  Attacking         4560 non-null   float64
 22  Crossing          4560 non-null   float64
 23  Finishing         4560 non-null   float64
 24  Heading Accuracy  4560 non-null   float64
 25  Short Passing     4560 non-null   float64
 26  Volleys           4560 non-null   float64
 27  Skill             4560 non-null   float64
 28  Dribbling         4560 non-null   float64
 29  Curve             4560 non-null   float64
 30  FK Accuracy       4560 non-null   float64
 31  Long Passing      4560 non-null   float64
 32  Ball Control      4560 non-null   float64
 33  Movement          4560 non-null   float64
 34  Acceleration      4560 non-null   float64
 35  Sprint Speed      4560 non-null   float64
 36  Agility           4560 non-null   float64
 37  Reactions         4560 non-null   float64
 38  Balance           4560 non-null   float64
 39  Power             4560 non-null   float64
 40  Shot Power        4560 non-null   float64
 41  Jumping           4560 non-null   float64
 42  Stamina           4560 non-null   float64
 43  Strength          4560 non-null   float64
 44  Long Shots        4560 non-null   float64
 45  Mentality         4560 non-null   float64
 46  Aggression        4560 non-null   float64
 47  Interceptions     4560 non-null   float64
 48  Positioning       4560 non-null   float64
 49  Vision            4560 non-null   float64
 50  Penalties         4560 non-null   float64
 51  Composure         4560 non-null   float64
 52  Defending         4560 non-null   float64
 53  Marking           4560 non-null   float64
 54  Standing Tackle   4560 non-null   float64
 55  Sliding Tackle    4560 non-null   float64
 56  Goalkeeping       4560 non-null   float64
 57  GK Diving         4560 non-null   float64
 58  GK Handling       4560 non-null   float64
 59  GK Kicking        4560 non-null   float64
 60  GK Positioning    4560 non-null   float64
 61  GK Reflexes       4560 non-null   float64
 62  Total Stats       4560 non-null   float64
 63  Base Stats        4560 non-null   float64
 64  W/F               4560 non-null   object
 65  SM                4560 non-null   object
 66  A/W               4560 non-null   object
 67  D/W               4560 non-null   object
 68  IR                4560 non-null   object
 69  PAC               4560 non-null   float64
 70  SHO               4560 non-null   float64
 71  PAS               4560 non-null   float64
 72  DRI               4560 non-null   float64
 73  DEF               4560 non-null   float64
 74  PHY               4560 non-null   float64
 75  Hits              4560 non-null   object
 76  Height cm         4561 non-null   float64
dtypes: float64(56), int64(1), object(20)
memory usage: 2.7+ MB

Extraemos el año, mes y día en columnas

In [32]:
datos['Joined']=pd.to_datetime(datos['Joined'])

In [33]:
datos['anio']=datos['Joined'].dt.year

In [34]:
datos['month']=datos['Joined'].dt.month

In [35]:
datos['day']=datos['Joined'].dt.day

In [38]:
datos['month']

0       7.0
1       7.0
2       7.0
3       8.0
4       8.0
       ...
4556    7.0
4557    8.0
4558    7.0
4559    1.0
4560    NaN
Name: month, Length: 4561, dtype: float64

In [39]:
datos['anio']

0       2004.0
1       2018.0
2       2014.0
3       2015.0
4       2017.0
         ...
4556    2017.0
4557    2019.0
4558    2016.0
4559    2019.0
4560       NaN
Name: anio, Length: 4561, dtype: float64

In [36]:
datos['day']

0        1.0
1       10.0
2       16.0
3       30.0
4        3.0
        ...
4556    31.0
4557     7.0
4558     1.0
4559    17.0
4560     NaN
Name: day, Length: 4561, dtype: float64


¿Puedes limpiar y transformar las columnas de la cláusula de valor, salario y liberación en columnas de números enteros?

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 80 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Weight            18979 non-null  int64
 12  foot              18979 non-null  object
 13  BOV               18979 non-null  int64
 14  BP                18979 non-null  object
 15  Growth            18979 non-null  int64
 16  Joined            18979 non-null  datetime64[ns]
 17  Loan Date End     1013 non-null   object
 18  Value             18979 non-null  object
 19  Wage              18979 non-null  object
 20  Release Clause    18979 non-null  object
 21  Attacking         18979 non-null  int64
 22  Crossing          18979 non-null  int64
 23  Finishing         18979 non-null  int64
 24  Heading Accuracy  18979 non-null  int64
 25  Short Passing     18979 non-null  int64
 26  Volleys           18979 non-null  int64
 27  Skill             18979 non-null  int64
 28  Dribbling         18979 non-null  int64
 29  Curve             18979 non-null  int64
 30  FK Accuracy       18979 non-null  int64
 31  Long Passing      18979 non-null  int64
 32  Ball Control      18979 non-null  int64
 33  Movement          18979 non-null  int64
 34  Acceleration      18979 non-null  int64
 35  Sprint Speed      18979 non-null  int64
 36  Agility           18979 non-null  int64
 37  Reactions         18979 non-null  int64
 38  Balance           18979 non-null  int64
 39  Power             18979 non-null  int64
 40  Shot Power        18979 non-null  int64
 41  Jumping           18979 non-null  int64
 42  Stamina           18979 non-null  int64
 43  Strength          18979 non-null  int64
 44  Long Shots        18979 non-null  int64
 45  Mentality         18979 non-null  int64
 46  Aggression        18979 non-null  int64
 47  Interceptions     18979 non-null  int64
 48  Positioning       18979 non-null  int64
 49  Vision            18979 non-null  int64
 50  Penalties         18979 non-null  int64
 51  Composure         18979 non-null  int64
 52  Defending         18979 non-null  int64
 53  Marking           18979 non-null  int64
 54  Standing Tackle   18979 non-null  int64
 55  Sliding Tackle    18979 non-null  int64
 56  Goalkeeping       18979 non-null  int64
 57  GK Diving         18979 non-null  int64
 58  GK Handling       18979 non-null  int64
 59  GK Kicking        18979 non-null  int64
 60  GK Positioning    18979 non-null  int64
 61  GK Reflexes       18979 non-null  int64
 62  Total Stats       18979 non-null  int64
 63  Base Stats        18979 non-null  int64
 64  W/F               18979 non-null  object
 65  SM                18979 non-null  object
 66  A/W               18979 non-null  object
 67  D/W               18979 non-null  object
 68  IR                18979 non-null  object
 69  PAC               18979 non-null  int64
 70  SHO               18979 non-null  int64
 71  PAS               18979 non-null  int64
 72  DRI               18979 non-null  int64
 73  DEF               18979 non-null  int64
 74  PHY               18979 non-null  int64
 75  Hits              18979 non-null  object
 76  Height cm         18979 non-null  float64
 77  anio              18979 non-null  int64
 78  month             18979 non-null  int64
 79  day               18979 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(59), object(19)
memory usage: 11.6+ MB

In [40]:
datos['Value'].unique()

array(['€67.5M', '€46M', '€75M', '€87M', '€90M', '€80M', '€105.5M',
       '€62.5M', '€78M', '€75.5M', '€69.5M', '€59.5M', '€56M', '€29M',
       '€53M', '€24.5M', '€51M', '€65M', '€71M', '€53.5M', '€72.5M',
       '€50M', '€58M', '€55M', '€16M', '€60M', '€63M', '€54.5M', '€52M',
       '€52.5M', '€50.5M', '€27M', '€48.5M', '€38M', '€45M', '€34M',
       '€39M', '€31.5M', '€15.5M', '€28M', '€46.5M', '€42M', '€32M',
       '€36.5M', '€33M', '€28.5M', '€22.5M', '€21M', '€34.5M', '€57M',
       '€49.5M', '€44.5M', '€44M', '€41.5M', '€49M', '€51.5M', '€39.5M',
       '€47.5M', '€37.5M', '€40.5M', '€33.5M', '€37M', '€30.5M', '€26M',
       '€18M', '€14.5M', '€35.5M', '€24M', '€11.5M', '€41M', '€42.5M',
       '€30M', '€36M', '€31M', '€27.5M', '€35M', '€38.5M', '€23M', '€25M',
       '€29.5M', '€25.5M', '€32.5M', '€19M', '€19.5M', '€23.5M', '€15M',
       '€17M', '€11M', '€9.5M', '€22M', '€16.5M', '€18.5M', '€17.5M',
       '€21.5M', '€20.5M', '€13.5M', '€20M', '€12M', '€12.5M', '€7M',
       '€26.5M', '€14M', '€8M', '€2.2M', '€0', '€10.5M', '€13M', '€8.5M',
       '€4.8M', '€6.5M', '€3.6M', '€5.5M', '€9M', '€3M', '€5M', '€4.5M',
       '€10M', '€4M', '€7.5M', '€4.7M', '€6M', '€4.4M', '€1.3M', '€2.7M',
       '€4.2M', '€2.1M', '€3.1M', '€4.9M', '€3.7M', '€4.3M', '€1.7M',
       '€1.5M', '€3.3M', '€3.9M', '€1.9M', '€2.4M', '€900K', '€3.4M',
       '€4.1M', '€1.6M', '€775K', '€2.6M', '€3.5M', '€2.9M', '€3.2M',
       '€1.2M', '€1.8M', '€2.3M', '€1.1M', '€675K', '€2.5M', '€1.4M',
       '€4.6M', '€2M', '€575K', '€950K', '€1M', '€3.8M', '€2.8M', '€400K',
       '€875K', '€800K', '€325K', '€525K', '€850K', '€625K', '€975K',
       '€240K', '€650K', '€825K', '€725K', '€475K', '€500K', '€750K',
       '€425K', '€700K', nan], dtype=object)

In [41]:
datos['numero']=datos['Value'].str.extract('(\d+(?:\.\d+)?)')

In [42]:
datos['numero']

0       67.5
1         46
2         75
3         87
4         90
        ...
4556     2.3
4557     1.1
4558     2.4
4559     1.7
4560     NaN
Name: numero, Length: 4561, dtype: object

In [43]:
datos['numero']=pd.to_numeric(datos['numero'])

In [44]:
datos['TipoValor']= datos['Value'].str.extract('([a-zA-Z]+)')

In [45]:
datos['TipoValor']

0         M
1         M
2         M
3         M
4         M
       ...
4556      M
4557      M
4558      M
4559      M
4560    NaN
Name: TipoValor, Length: 4561, dtype: object

In [46]:
datos['TipoValor']=datos.TipoValor.replace({"M":1000000, "K":1000})

In [47]:
datos['TipoValor']

0       1000000.0
1       1000000.0
2       1000000.0
3       1000000.0
4       1000000.0
          ...
4556    1000000.0
4557    1000000.0
4558    1000000.0
4559    1000000.0
4560          NaN
Name: TipoValor, Length: 4561, dtype: float64

In [48]:
datos['Valor numerico']=datos['TipoValor']*datos['numero']

In [49]:
datos['Valor numerico']

0       67500000.0
1       46000000.0
2       75000000.0
3       87000000.0
4       90000000.0
           ...
4556     2300000.0
4557     1100000.0
4558     2400000.0
4559     1700000.0
4560           NaN
Name: Valor numerico, Length: 4561, dtype: float64

In [50]:
datos['Wage']

0       €560K
1       €220K
2       €125K
3       €370K
4       €270K
        ...
4556     €47K
4557      €4K
4558      €4K
4559      €5K
4560      NaN
Name: Wage, Length: 4561, dtype: object

In [51]:
datos['wagenum']=datos['Wage'].str.extract('(\d+(?:\.\d+)?)')

In [52]:
datos['wagetipo']=datos['Wage'].str.extract('([a-zA-Z]+)')

In [53]:
datos['wagenum']=pd.to_numeric(datos['wagenum'])

In [54]:
datos['wagetipo']

0         K
1         K
2         K
3         K
4         K
       ...
4556      K
4557      K
4558      K
4559      K
4560    NaN
Name: wagetipo, Length: 4561, dtype: object

In [55]:
datos['wagetipo']=datos['wagetipo'].astype(str)

In [56]:
datos['wagetipo']

0         K
1         K
2         K
3         K
4         K
       ...
4556      K
4557      K
4558      K
4559      K
4560    nan
Name: wagetipo, Length: 4561, dtype: object

In [57]:
datos['wagetipo']

0         K
1         K
2         K
3         K
4         K
       ...
4556      K
4557      K
4558      K
4559      K
4560    nan
Name: wagetipo, Length: 4561, dtype: object

In [58]:
datos['wagetipo']=datos.wagetipo.replace({"K":1000, "nan":1})

In [59]:
datos['wagetipo']

0       1000
1       1000
2       1000
3       1000
4       1000
        ...
4556    1000
4557    1000
4558    1000
4559    1000
4560       1
Name: wagetipo, Length: 4561, dtype: int64

In [60]:
datos['Wage Final']=datos['wagenum']*datos['wagetipo']

In [61]:
datos['Wage']

0       €560K
1       €220K
2       €125K
3       €370K
4       €270K
        ...
4556     €47K
4557      €4K
4558      €4K
4559      €5K
4560      NaN
Name: Wage, Length: 4561, dtype: object

In [62]:
datos['Wage Final']

0       560000.0
1       220000.0
2       125000.0
3       370000.0
4       270000.0
          ...
4556     47000.0
4557      4000.0
4558      4000.0
4559      5000.0
4560         NaN
Name: Wage Final, Length: 4561, dtype: float64

In [63]:
datos['Release Clause']

0       €138.4M
1        €75.9M
2       €159.4M
3         €161M
4       €166.5M
         ...
4556      €4.5M
4557        €2M
4558      €4.3M
4559      €2.3M
4560        NaN
Name: Release Clause, Length: 4561, dtype: object

In [64]:
datos['ReleaseNum']=datos['Release Clause'].str.extract('(\d+(?:\.\d+)?)')

In [65]:
datos['ReleaseNum']=pd.to_numeric(datos['ReleaseNum'])

In [66]:
datos['ReleaseNum']

0       138.4
1        75.9
2       159.4
3       161.0
4       166.5
        ...
4556      4.5
4557      2.0
4558      4.3
4559      2.3
4560      NaN
Name: ReleaseNum, Length: 4561, dtype: float64

In [67]:
datos['RealeaseTipo']=datos['Release Clause'].str.extract('([a-zA-Z]+)')

In [68]:
datos['RealeaseTipo']=datos.RealeaseTipo.replace({"M":1000000,"K":1000})

In [69]:
datos['RealeaseTipo']

0       1000000.0
1       1000000.0
2       1000000.0
3       1000000.0
4       1000000.0
          ...
4556    1000000.0
4557    1000000.0
4558    1000000.0
4559    1000000.0
4560          NaN
Name: RealeaseTipo, Length: 4561, dtype: float64

In [70]:
datos['RealeaseFinal']=datos['ReleaseNum']*datos['RealeaseTipo']

In [71]:
datos['RealeaseFinal']

0       138400000.0
1        75900000.0
2       159400000.0
3       161000000.0
4       166500000.0
           ...
4556      4500000.0
4557      2000000.0
4558      4300000.0
4559      2300000.0
4560            NaN
Name: RealeaseFinal, Length: 4561, dtype: float64

In [72]:
datos['Release Clause']

0       €138.4M
1        €75.9M
2       €159.4M
3         €161M
4       €166.5M
         ...
4556      €4.5M
4557        €2M
4558      €4.3M
4559      €2.3M
4560        NaN
Name: Release Clause, Length: 4561, dtype: object

**Remover los caracteres especiales de la columna Hits**

In [73]:
datos['Hits']

0       \n372
1       \n344
2        \n86
3       \n163
4       \n273
        ...
4556     \n28
4557      \n1
4558     \n20
4559      \n4
4560      NaN
Name: Hits, Length: 4561, dtype: object

In [74]:
datos['Hits']=datos['Hits'].astype(str)

In [75]:
datos['Hits'].unique()

array(['\n372', '\n344', '\n86', '\n163', '\n273', '\n182', '\n646',
       '\n79', '\n164', '\n170', '\n93', '\n131', '\n89', '\n90', '\n169',
       '\n187', '\n103', '\n317', '\n239', '\n56', '\n130', '\n229',
       '\n124', '\n172', '\n114', '\n46', '\n663', '\n479', '\n203',
       '\n198', '\n122', '\n565', '\n152', '\n140', '\n276', '\n209',
       '\n25', '\n136', '\n109', '\n139', '\n42', '\n99', '\n137',
       '\n166', '\n80', '\n104', '\n150', '\n112', '\n285', '\n133',
       '\n96', '\n69', '\n143', '\n100', '\n38', '\n83', '\n67', '\n207',
       '\n416', '\n315', '\n206', '\n424', '\n191', '\n454', '\n271',
       '\n249', '\n121', '\n246', '\n171', '\n148', '\n329', '\n70',
       '\n97', '\n73', '\n210', '\n82', '\n146', '\n62', '\n165', '\n129',
       '\n162', '\n35', '\n65', '\n47', '\n77', '\n106', '\n84', '\n1.3K',
       '\n310', '\n181', '\n364', '\n200', '\n141', '\n134', '\n259',
       '\n309', '\n367', '\n224', '\n211', '\n60', '\n176', '\n108',
       '\n63', '\n111', '\n52', '\n59', '\n350', '\n54', '\n117', '\n27',
       '\n91', '\n365', '\n312', '\n286', '\n157', '\n291', '\n245',
       '\n258', '\n233', '\n767', '\n288', '\n57', '\n115', '\n123',
       '\n142', '\n149', '\n227', '\n75', '\n53', '\n113', '\n71', '\n92',
       '\n144', '\n132', '\n125', '\n45', '\n158', '\n55', '\n43',
       '\n107', '\n24', '\n212', '\n21', '\n87', '\n39', '\n98', '\n192',
       '\n391', '\n23', '\n26', '\n13', '\n185', '\n177', '\n272',
       '\n193', '\n225', '\n78', '\n88', '\n37', '\n168', '\n85', '\n34',
       '\n1.5K', '\n48', '\n32', '\n215', '\n41', '\n20', '\n61', '\n68',
       '\n58', '\n19', '\n186', '\n17', '\n241', '\n574', '\n338',
       '\n274', '\n2.9K', '\n492', '\n670', '\n324', '\n352', '\n31',
       '\n30', '\n300', '\n189', '\n595', '\n127', '\n173', '\n159',
       '\n49', '\n36', '\n102', '\n280', '\n12', '\n14', '\n50', '\n76',
       '\n95', '\n51', '\n40', '\n22', '\n11', '\n9', '\n16', '\n10',
       '\n5', '\n222', '\n303', '\n268', '\n434', '\n256', '\n247',
       '\n248', '\n354', '\n289', '\n269', '\n237', '\n183', '\n6',
       '\n217', '\n155', '\n523', '\n921', '\n264', '\n72', '\n29',
       '\n476', '\n28', '\n205', '\n81', '\n393', '\n147', '\n74', '\n66',
       '\n33', '\n44', '\n314', '\n428', '\n261', '\n199', '\n281',
       '\n316', '\n118', '\n411', '\n396', '\n4', '\n794', '\n243',
       '\n204', '\n219', '\n167', '\n18', '\n356', '\n120', '\n561',
       '\n8', '\n101', '\n984', '\n2K', '\n603', '\n526', '\n1K', '\n343',
       '\n190', '\n154', '\n673', '\n194', '\n556', '\n128', '\n161',
       '\n494', '\n196', '\n232', '\n332', '\n283', '\n138', '\n15',
       '\n64', '\n94', '\n3', '\n7', '\n308', '\n382', '\n345', '\n275',
       '\n313', '\n398', '\n153', '\n935', '\n201', '\n699', '\n758',
       '\n745', '\n184', '\n1', '\n501', '\n145', '\n119', '\n255',
       '\n1.2K', '\n2', '\n253', '\n1.7K', '\n156', '\n238', '\n221',
       '\n175', '\n151', '\n500', '\n731', '\n532', '\n466', '\n535',
       '\n297', '\n265', '\n599', '\n234', '\n180', '\n195', '\n116',
       '\n423', '\n266', '\n560', '\n188', '\n244', '\n216', '\n496',
       '\n257', '\n226', '\n105', '\n412', '\n220', '\n970', '\n135',
       '\n360', '\n178', '\n1.1K', '\n326', '\n251', '\n369', '\n4.5K',
       '\n681', '\n700', '\n477', '\n333', 'nan'], dtype=object)

In [76]:
datos['hitsnum']=datos['Hits'].str.extract('(\d+(?:\.\d+)?)')

In [77]:
datos['hitsvalor']=datos['Hits'].str.extract('([a-zA-Z]+)')

In [78]:
datos['hitsvalor'].unique()

array([nan, 'K', 'nan'], dtype=object)

In [79]:
datos['hitsvalor']=datos['hitsvalor'].astype(str)

In [80]:
datos['hitsvalor'].unique()

array(['nan', 'K'], dtype=object)

In [81]:
datos['hitsvalor']=datos.hitsvalor.replace({"nan":1,"K":1000})

In [82]:
datos['hitsvalor']

0       1
1       1
2       1
3       1
4       1
       ..
4556    1
4557    1
4558    1
4559    1
4560    1
Name: hitsvalor, Length: 4561, dtype: int64

In [83]:
datos['hitsnum']=pd.to_numeric(datos['hitsnum'])

In [84]:
datos['hitsfinal']=datos['hitsnum']*datos['hitsvalor']

In [85]:
datos['hitsfinal']

0       372.0
1       344.0
2        86.0
3       163.0
4       273.0
        ...
4556     28.0
4557      1.0
4558     20.0
4559      4.0
4560      NaN
Name: hitsfinal, Length: 4561, dtype: float64

**Separar la columna Team & Contract en 2 columnas**

In [86]:
datos['Team & Contract']

0              \n\n\n\nFC Barcelona\n2004 ~ 2021\n\n
1                  \n\n\n\nJuventus\n2018 ~ 2022\n\n
2           \n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n
3           \n\n\n\nManchester City\n2015 ~ 2023\n\n
4       \n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n
                            ...
4556                 \n\n\n\nFulham\n2017 ~ 2024\n\n
4557    \n\n\n\nStade Malherbe Caen\n2019 ~ 2022\n\n
4558         \n\n\n\nRayo Vallecano\n2016 ~ 2023\n\n
4559               \n\n\n\nMolde FK\n2019 ~ 2022\n\n
4560                                             NaN
Name: Team & Contract, Length: 4561, dtype: object

In [87]:
datos['Team & Contract']=datos['Team & Contract'].astype(str)

In [88]:
datos['Team & Contract']

0              \n\n\n\nFC Barcelona\n2004 ~ 2021\n\n
1                  \n\n\n\nJuventus\n2018 ~ 2022\n\n
2           \n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n
3           \n\n\n\nManchester City\n2015 ~ 2023\n\n
4       \n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n
                            ...
4556                 \n\n\n\nFulham\n2017 ~ 2024\n\n
4557    \n\n\n\nStade Malherbe Caen\n2019 ~ 2022\n\n
4558         \n\n\n\nRayo Vallecano\n2016 ~ 2023\n\n
4559               \n\n\n\nMolde FK\n2019 ~ 2022\n\n
4560                                             nan
Name: Team & Contract, Length: 4561, dtype: object

In [93]:
datos['Team & Contract'].str.split('\n', expand=True)

        0     1     2     3                    4            5     6     7
0                                   FC Barcelona  2004 ~ 2021
1                                       Juventus  2018 ~ 2022
2                                Atlético Madrid  2014 ~ 2023
3                                Manchester City  2015 ~ 2023
4                            Paris Saint-Germain  2017 ~ 2022
...   ...   ...   ...   ...                  ...          ...   ...   ...
4556                                      Fulham  2017 ~ 2024
4557                         Stade Malherbe Caen  2019 ~ 2022
4558                              Rayo Vallecano  2016 ~ 2023
4559                                    Molde FK  2019 ~ 2022
4560  nan  None  None  None                 None         None  None  None

[4561 rows x 8 columns]

In [95]:
ejemplo=datos['Team & Contract'].str.split('\n', expand=True)

In [96]:
ejemplo.columns=['blanco0','blanco1','blanco2','blanco3','Team','Contract','blanco6','blanco7']
datos=pd.concat([datos,ejemplo], axis=1)

In [97]:
datos

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,hitsfinal,prueba,blanco0,blanco1,blanco2,blanco3,Team,Contract,blanco6,blanco7
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33.0,93.0,93.0,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,372.0,"[, , , , FC Barcelona, 2004 ~ 2021, , ]",,,,,FC Barcelona,2004 ~ 2021,,
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35.0,92.0,92.0,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,344.0,"[, , , , Juventus, 2018 ~ 2022, , ]",,,,,Juventus,2018 ~ 2022,,
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27.0,91.0,93.0,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,86.0,"[, , , , Atlético Madrid, 2014 ~ 2023, , ]",,,,,Atlético Madrid,2014 ~ 2023,,
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29.0,91.0,91.0,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,163.0,"[, , , , Manchester City, 2015 ~ 2023, , ]",,,,,Manchester City,2015 ~ 2023,,
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28.0,91.0,91.0,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,273.0,"[, , , , Paris Saint-Germain, 2017 ~ 2022, , ]",,,,,Paris Saint-Germain,2017 ~ 2022,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4556,https://cdn.sofifa.com/players/225/541/21_60.png,Aboubakar Kamara,http://sofifa.com/player/225541/aboubakar-kama...,France,ST RW,A. Kamara,25.0,70.0,73.0,\n\n\n\nFulham\n2017 ~ 2024\n\n,...,28.0,"[, , , , Fulham, 2017 ~ 2024, , ]",,,,,Fulham,2017 ~ 2024,,
4557,https://cdn.sofifa.com/players/168/965/21_60.png,Rémy Riou,http://sofifa.com/player/168965/remy-riou/210005/,France,GK,R. Riou,32.0,70.0,70.0,\n\n\n\nStade Malherbe Caen\n2019 ~ 2022\n\n,...,1.0,"[, , , , Stade Malherbe Caen, 2019 ~ 2022, , ]",,,,,Stade Malherbe Caen,2019 ~ 2022,,
4558,https://cdn.sofifa.com/players/235/781/21_60.png,Santiago Comesaña Veiga,http://sofifa.com/player/235781/santiago-comes...,Spain,CM CDM,Santi Comesaña,23.0,70.0,76.0,\n\n\n\nRayo Vallecano\n2016 ~ 2023\n\n,...,20.0,"[, , , , Rayo Vallecano, 2016 ~ 2023, , ]",,,,,Rayo Vallecano,2016 ~ 2023,,
4559,https://cdn.sofifa.com/players/207/622/21_60.png,Martin Bjørnbak,http://sofifa.com/player/207622/martin-bjornba...,Norway,CB,M. Bjørnbak,28.0,70.0,71.0,\n\n\n\nMolde FK\n2019 ~ 2022\n\n,...,4.0,"[, , , , Molde FK, 2019 ~ 2022, , ]",,,,,Molde FK,2019 ~ 2022,,
4560,https://cdn.sofifa.com/players/212/231/21_60.png,Tobias Pereira Fig,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,...,NaN,[nan],nan,None,None,None,None,None,None,None

In [98]:
datos=datos.drop(columns=['blanco0','blanco1','blanco2','blanco3','blanco6','blanco7'])

In [99]:
datos

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,Wage Final,ReleaseNum,RealeaseTipo,RealeaseFinal,hitsnum,hitsvalor,hitsfinal,prueba,Team,Contract
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33.0,93.0,93.0,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,560000.0,138.4,1000000.0,138400000.0,372.0,1,372.0,"[, , , , FC Barcelona, 2004 ~ 2021, , ]",FC Barcelona,2004 ~ 2021
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35.0,92.0,92.0,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,220000.0,75.9,1000000.0,75900000.0,344.0,1,344.0,"[, , , , Juventus, 2018 ~ 2022, , ]",Juventus,2018 ~ 2022
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27.0,91.0,93.0,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,125000.0,159.4,1000000.0,159400000.0,86.0,1,86.0,"[, , , , Atlético Madrid, 2014 ~ 2023, , ]",Atlético Madrid,2014 ~ 2023
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29.0,91.0,91.0,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,370000.0,161.0,1000000.0,161000000.0,163.0,1,163.0,"[, , , , Manchester City, 2015 ~ 2023, , ]",Manchester City,2015 ~ 2023
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28.0,91.0,91.0,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,270000.0,166.5,1000000.0,166500000.0,273.0,1,273.0,"[, , , , Paris Saint-Germain, 2017 ~ 2022, , ]",Paris Saint-Germain,2017 ~ 2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4556,https://cdn.sofifa.com/players/225/541/21_60.png,Aboubakar Kamara,http://sofifa.com/player/225541/aboubakar-kama...,France,ST RW,A. Kamara,25.0,70.0,73.0,\n\n\n\nFulham\n2017 ~ 2024\n\n,...,47000.0,4.5,1000000.0,4500000.0,28.0,1,28.0,"[, , , , Fulham, 2017 ~ 2024, , ]",Fulham,2017 ~ 2024
4557,https://cdn.sofifa.com/players/168/965/21_60.png,Rémy Riou,http://sofifa.com/player/168965/remy-riou/210005/,France,GK,R. Riou,32.0,70.0,70.0,\n\n\n\nStade Malherbe Caen\n2019 ~ 2022\n\n,...,4000.0,2.0,1000000.0,2000000.0,1.0,1,1.0,"[, , , , Stade Malherbe Caen, 2019 ~ 2022, , ]",Stade Malherbe Caen,2019 ~ 2022
4558,https://cdn.sofifa.com/players/235/781/21_60.png,Santiago Comesaña Veiga,http://sofifa.com/player/235781/santiago-comes...,Spain,CM CDM,Santi Comesaña,23.0,70.0,76.0,\n\n\n\nRayo Vallecano\n2016 ~ 2023\n\n,...,4000.0,4.3,1000000.0,4300000.0,20.0,1,20.0,"[, , , , Rayo Vallecano, 2016 ~ 2023, , ]",Rayo Vallecano,2016 ~ 2023
4559,https://cdn.sofifa.com/players/207/622/21_60.png,Martin Bjørnbak,http://sofifa.com/player/207622/martin-bjornba...,Norway,CB,M. Bjørnbak,28.0,70.0,71.0,\n\n\n\nMolde FK\n2019 ~ 2022\n\n,...,5000.0,2.3,1000000.0,2300000.0,4.0,1,4.0,"[, , , , Molde FK, 2019 ~ 2022, , ]",Molde FK,2019 ~ 2022
4560,https://cdn.sofifa.com/players/212/231/21_60.png,Tobias Pereira Fig,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,...,NaN,NaN,NaN,NaN,NaN,1,NaN,[nan],None,None

datos=datos.drop(columns=['wagetipo'])

```
# Esto tiene formato de código
```

In [ ]:
datos

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,wagetipo,Wage Final,ReleaseNum,RealeaseTipo,RealeaseFinal,hitsvalor,hitsnum,hitsfinal,Team,Contract
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,1000,560000,138.4,1000000.0,138400000.0,1,372.0,372.0,FC Barcelona,2004 ~ 2021
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,1000,220000,75.9,1000000.0,75900000.0,1,344.0,344.0,Juventus,2018 ~ 2022
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,1000,125000,159.4,1000000.0,159400000.0,1,86.0,86.0,Atlético Madrid,2014 ~ 2023
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,1000,370000,161.0,1000000.0,161000000.0,1,163.0,163.0,Manchester City,2015 ~ 2023
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,1000,270000,166.5,1000000.0,166500000.0,1,273.0,273.0,Paris Saint-Germain,2017 ~ 2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,https://cdn.sofifa.com/players/257/710/21_60.png,Mengxuan Zhang,http://sofifa.com/player/257710/mengxuan-zhang...,China PR,CB,Zhang Mengxuan,21,47,52,\n\n\n\nChongqing Dangdai Lifan FC SWM Team\n2...,...,1000,1000,57.0,1000.0,57000.0,1,2.0,2.0,Chongqing Dangdai Lifan FC SWM Team,2020 ~ 2020
18975,https://cdn.sofifa.com/players/258/736/21_60.png,Vani Da Silva,http://sofifa.com/player/258736/vani-da-silva/...,England,ST,V. Da Silva,17,47,67,\n\n\n\nOldham Athletic\n2020 ~ 2021\n\n,...,1,500,165.0,1000.0,165000.0,1,3.0,3.0,Oldham Athletic,2020 ~ 2021
18976,https://cdn.sofifa.com/players/247/223/21_60.png,Ao Xia,http://sofifa.com/player/247223/ao-xia/210005/,China PR,CB,Xia Ao,21,47,55,\n\n\n\nWuhan Zall\n2018 ~ 2022\n\n,...,1000,1000,70.0,1000.0,70000.0,1,3.0,3.0,Wuhan Zall,2018 ~ 2022
18977,https://cdn.sofifa.com/players/258/760/21_60.png,Ben Hough,http://sofifa.com/player/258760/ben-hough/210005/,England,CM,B. Hough,17,47,67,\n\n\n\nOldham Athletic\n2020 ~ 2021\n\n,...,1,500,165.0,1000.0,165000.0,1,5.0,5.0,Oldham Athletic,2020 ~ 2021
18978,https://cdn.sofifa.com/players/255/958/21_60.png,Mateo Flores,http://sofifa.com/player/255958/mateo-flores/2...,Bolivia,CDM,M. Flores,19,47,63,\n\n\n\nClub Bolívar\n2020 ~ 2024\n\n,...,1,500,167.0,1000.0,167000.0,1,2.0,2.0,Club Bolívar,2020 ~ 2024